/* Agrega estos estilos al archivo CSS de tu proyecto o enlázalo en el archivo EJS */

body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.registration-form {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin: 10px 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-size: 16px;
}

button.primary {
  background-color: #0074A5;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button.primary:hover {
  background-color: #005e8c;
}

p {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #0074A5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Agrega otros estilos según tus preferencias */

.cuadro-dialogo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.oculto {
  display: none;
}

