<h2>Ingresar Curso</h2>
<form id="formularioCurso" action="/guardar-curso" method="POST">
  <label for="nombre">Nombre del Curso</label>
  <input type="text" id="nombre" name="nombre" required>
  <label for="descripcion">Descripción</label>
  <textarea id="descripcion" name="descripcion" required></textarea>
  <label for="imgurl">URL de la Imagen</label>
  <input type="text" id="imgurl" name="imgurl" required>
  <button type="submit">Guardar</button>
</form>