<!DOCTYPE html>
<html>
<head>
  <title>Regístrate</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <div id="modal" class="modal">
    <div class="modal-content">
      <div class="form-box signup">
        <h2>Regístrate</h2>
      </div>
      <div class="form-content">
        <form action="/registro" method="POST" id="registration-form">
          <div class="input-field">
            <input type="text" name="username" required>
            <label>Nombre de Usuario</label>
          </div>
          <div class="input-field">
            <input type="text" name="email" required>
            <label>Correo Electrónico</label>
          </div>
          <div class="input-field">
            <input type="password" name="password" required>
            <label>Contraseña</label>
          </div>
          <div class="policy-text">
            <input type="checkbox" id="policy">
            <label for="policy">
              Acepto los
              <a href="#" class="option">Términos y Condiciones</a>
            </label>
          </div>
          <button id="submit-button" type="submit">Regístrate</button>
        </form>
        <div class="bottom-link">
          ¿Ya tienes una cuenta?
          <button id="login">Iniciar Sesión</button>
        </div>
      </div>
    </div>
  </div>
  <script>
  </script>
</body>
</html>
